{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div id="container">
            <div id="hero-img"></div>
            <div id="profile-img">
                <img src="http://emilcarlsson.se/assets/profile.png" alt=""/>
            </div>
            <div id="content">
                <h1>{{ app.user.lastname }} {{ app.user.firstname }}</h1>
                <div class="row">
                    {% if app.user.age is empty %}

                        {% else %}
                            <p class="col-6">{{ app.user.age }} ans </p>
                            <p class="col-6">{{ app.user.weight }} kg </p>
                            <p class="col-6">{{ app.user.taille }} cm </p>
                    {% endif %}
                </div>

                <a class="btn btn-dark" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifer</a>
            </div>
        </div>
    </div>
{% endblock %}
