{% extends 'base.html.twig' %}

{% block title %}Vélo - Kilo{% endblock %}

{% block body %}


    {% if app.user %}
        <a class="navbar-brand" href="{{ path('app_profile') }}">
            <div class="iconFlex">
                <i class="fas fa-users fa-2x"></i>
                <div>
                    <p class="titleNav"> Profil</p>
                </div>
            </div>
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ path('app_register') }}">
            <div class="iconFlex">
                <i class="fas fa-users fa-2x"></i>
                <div>
                    <p class="titleNav"> Créer un compte</p>
                </div>
            </div>
        </a>
    {% endif %}



    <h1 class="w-100 text-center m-0"> Nom </h1>
<div class="container">
    <h1 class="w-100 text-center m-0">Vélo kilo</h1>

    <div class="d-flex justify-content-center">
        <div class="mb-5" id="map"></div>
    </div>
    <div class="js-stations" data-stations="{{ stations|json_encode|e('html_attr') }}">
    </div>

    <div class="mb-5 travel">
        {{ include('travel/_form.html.twig') }}
    </div>


</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
