{% extends '/base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}

<div class="container">
    <h1 class="w-100 text-center m-0"> Trajet effectué </h1>
    <div class="d-flex justify-content-center">
        <div class="mb-5" id="mapRoad"></div>
    </div>
    <div class="js-stations" data-stations="{{ stations|json_encode|e('html_attr') }}">
    </div>
    <div class="js-travel" data-travel="{{ travel|json_encode|e('html_attr') }}">
    </div>

    {% if app.user %}
        <div class="trajetBilan">
            <h2 class="container-historic">Lors de ce voyage : </h2>
            <p>Vous avez parcourus <span class="number">{{ travel[2] }}</span> mètres.</p>
            <p>Vous avez perdu <span class="number">{{ travel[3] }}</span> calories.</p>
            <h2 class="container-historic">Au total : </h2>
            <p>Vous avez parcourus <span class="number">{{ travel[4] }}</span> mètres.</p>
            {% if step >= 1 %}
                <p>Vous avez franchi un palier!</p>
                <p><span class="number">10</span> km parcourus : Prochain voyage gratuit!</p>
            {% else %}
                <p>Plus que <span class="number">{{ missing }}</span> mètres avant votre prochain voyage gratuit</p>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('road') }}
{% endblock %}
