{% extends '/base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}

<div class="container">
    <h1 class="w-100 text-center m-0"> Trajet effectué </h1>
    <div class="d-flex justify-content-center">
        <div class="mb-5" id="mapRoad"></div>
    </div>
    <div class="js-stations" data-stations="{{ stations|json_encode|e('html_attr') }}">
    </div>
    <div class="js-travel" data-travel="{{ travel|json_encode|e('html_attr') }}">
    </div>

    {% if app.user %}
        <div class="trajetBilan">
            <h2>Lors de ce voyage : </h2>
            <p>Vous avez parcouru {{ travel[2] }} mètres.</p>
            <p>Vous avez perdu {{ travel[3] }} calories.</p>
            <p>Et évité l'emission de {{ carboneCar|round(1) }} g de CO2 en ne prenant pas votre voiture.</p>
            <p>Mais aussi évité l'emission de {{ carboneTruck|round(1) }} g de CO2 en ne prenant pas le bus.</p>
            <h2>Au total : </h2>
            <p>Vous avez parcourus {{ travel[4] }} mètres.</p>
            {% if step >= 1 %}
                <p>Vous avez franchi un palier!</p>
                <p>10 km parcourus : Prochain voyage gratuit!</p>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('road') }}
{% endblock %}
